fastapi
sqlalchemy
psycopg2-binary
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-multipart
uvicorn
PyJWT
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
pydantic
openai
fastapi-mail==1.4.1
python-dotenv==1.0.0
httpx==0.27.0
google-genai
stripe==8.4.0
slowapi==0.1.9
bcrypt==4.1.2
boto3
